<include href="views/header.html">
    <body class="w-75 mx-auto">
    <h1>Add New Object</h1>

    <check if="{{isset(@SESSION.success) && @SESSION.success == true }}">
        <h5 class="text-center">Successfully saved new object to Database!</h5>
    </check>
    <check if="{{ isset(@SESSION.success) && @SESSION.success == false }}">
        <h5 class="text-center">FAILED!!!  object NOT saved to Database!</h5>
    </check>

    <form class="main-block mt-3" action="#" method="post">
        <div class="form-group">
            <label for="objectcoordinates">Object Coordinates in RA DEC format. <br> Example: RA5h35m17s, DEC-5d23m28s</label>
            <input type="text" class="form-control" id="objectcoordinates" name="objectcoordinates">
        </div>


        <div class="form-group">
            <label for="objectname">Object Name. Example: M1 (Crab Nebula)</label>
            <input type="text" class="form-control" id="objectname" name="objectname">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
    <include href="views/footer.html">