<include href="views/header.html">
    <body class="w-75 mx-auto">
<form class="main-block mt-3" action="#" method="post">
<div class="form-group">
    <label for="eventName">Event Name</label>
    <input type="text" class="form-control" id="eventName" name="eventName" aria-describedby="event name">
</div>


<div class="form-group">
    <label for="eventStart">Event Start</label>
    <input type="text" class="form-control" id="eventStart" name="eventStart" placeholder="2021-06-20">
</div>


<div class="form-group">
    <label for="eventEnd">Event End</label>
    <input type="text" class="form-control" id="eventEnd" name="eventEnd" placeholder="2021-06-27">
</div>

<button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
    <include href="views/footer.html">