<include href="views/header.html">
    <body class="w-75 mx-auto" style="background-color: lightcyan">
    <main style="background-color: white">
        <div class="alert alert-success" style="color: #1c87c9" role="alert">
            <h1>Current space events!</h1>
        </div>
        <form class="row" method="post" action="#">
            <div class="col-4">

                <div class="jumbotron" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h2>Live event happeing now.</h2>
                        <img src="images/solarNY.jpg" alt="picture" height="250" width="300">

                        <p class="mb-0">The sun rising next to the Statue of Liberty during an annular eclipse today at 15:00 PST .</p>
                    </div>

                </div>
            </div>
            <div class="col-8">
                <div class="col-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Live event happeing on Asia</h3>
                            <div class="mb-1 text-muted">Solar Eclipse</div>
                            <p><strong>Description: </strong><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus nunc at risus commodo,
                                commodo viverra orci hendrerit. Integer facilisis diam et elit lobortis pellentesque.
                                Praesent id lacus nec urna euismod ultrices eu at nulla. Quisque dignissim ligula eu lectus
                                pellentesque, et sagittis ante bibendum. Sed eu ultrices lectus. Sed elementum semper odio
                                ac hendrerit. </p><br>
                            <p><strong>Details: </strong> <br>In dapibus odio eget metus pharetra pellentesque. Fusce semper
                                at ligula eget
                                suscipit. Sed ut porta est. Pellentesque tellus nisl, imperdiet sit amet nunc non, rhoncus
                                consectetur arcu.
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="eventOne">
                                <label class="form-check-label" for="eventOne"> <strong style="color: #04AA6D">Sign me up
                                    for this event</strong>.</label>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-12">
            <repeat group="{{@currentEvents}}" value="{{ @event }}">
                <div class="col-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Event happening on Antartica</h3>
                            <div class="mb-1 text-muted">{{@event['eventid']}}</div>
                            <p><strong>Description: </strong><br>
                                {{@event['event_desc']}}</p><br>
                            <p><strong>Details: </strong> <br>
                            {{@event['event_details']}}
<!--                            <div class="form-group form-check">-->
<!--                                <input type="checkbox" class="form-check-input" id="eventFour">-->
<!--                                <label class="form-check-label" for="eventFour" style="color: darkred;"><strong-->
<!--                                        style="color: #04AA6D">-->
<!--                                    Sign me up for this event.</strong></label>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </repeat>
<!--                <div class="col-12">-->
<!--                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--                    <div class="col p-4 d-flex flex-column position-static">-->
<!--                        <h3 class="mb-0">Event happening on North America</h3>-->
<!--                        <div class="mb-1 text-muted">Big Star</div>-->
<!--                        <p><strong>Description: </strong><br>-->
<!--                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus nunc at risus commodo,-->
<!--                            commodo viverra orci hendrerit. Integer facilisis diam et elit lobortis pellentesque.-->
<!--                            Praesent id lacus nec urna euismod ultrices eu at nulla. Quisque dignissim ligula eu lectus-->
<!--                            pellentesque, et sagittis ante bibendum. Sed eu ultrices lectus. Sed elementum semper odio-->
<!--                            ac hendrerit. </p><br>-->
<!--                        <p><strong>Details: </strong> <br>In dapibus odio eget metus pharetra pellentesque. Fusce semper-->
<!--                            at ligula eget-->
<!--                            suscipit. Sed ut porta est. Pellentesque tellus nisl, imperdiet sit amet nunc non, rhoncus-->
<!--                            consectetur arcu.-->
<!--                        <div class="form-group form-check">-->
<!--                            <input type="checkbox" class="form-check-input" id="eventTwo">-->
<!--                            <label class="form-check-label" for="eventTwo" style="color: darkred;"><strong-->
<!--                                    style="color: #04AA6D">-->
<!--                                Sign me up for this event.</strong></label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-12">-->
<!--                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--                        <div class="col p-4 d-flex flex-column position-static">-->
<!--                            <h3 class="mb-0">Event happening Africa</h3>-->
<!--                            <div class="mb-1 text-muted">Full Moon</div>-->
<!--                            <p><strong>Description: </strong><br>-->
<!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus nunc at risus-->
<!--                                commodo,-->
<!--                                commodo viverra orci hendrerit. Integer facilisis diam et elit lobortis pellentesque.-->
<!--                                Praesent id lacus nec urna euismod ultrices eu at nulla. Quisque dignissim ligula eu-->
<!--                                lectus-->
<!--                                pellentesque, et sagittis ante bibendum. Sed eu ultrices lectus. Sed elementum semper-->
<!--                                odio-->
<!--                                ac hendrerit. </p><br>-->
<!--                            <p><strong>Details: </strong> <br>In dapibus odio eget metus pharetra pellentesque. Fusce-->
<!--                                semper at ligula eget-->
<!--                                suscipit. Sed ut porta est. Pellentesque tellus nisl, imperdiet sit amet nunc non,-->
<!--                                rhoncus-->
<!--                                consectetur arcu.-->
<!--                            <div class="form-group form-check">-->
<!--                                <input type="checkbox" class="form-check-input" id="eventThree">-->
<!--                                <label class="form-check-label" for="eventThree" style="color: darkred;"><strong-->
<!--                                        style="color: #04AA6D">-->
<!--                                    Sign me up for this event.</strong></label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <div class="col-12">-->
<!--                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--                            <div class="col p-4 d-flex flex-column position-static">-->
<!--                                <h3 class="mb-0">Event happening on Antartica</h3>-->
<!--                                <div class="mb-1 text-muted">Lunar eclipse</div>-->
<!--                                <p><strong>Description: </strong><br>-->
<!--                                    Lorem ipsum dolor sit amet, consectetur adipiscing. Sed dapibus nunc at risus-->
<!--                                    commodo,-->
<!--                                    commodo viverra orci hendrerit. Integer facilisis diam et elit lobortis-->
<!--                                    pellentesque.-->
<!--                                    Praesent id lacus nec urna euismod ultrices eu at nulla. Quisque dignissim ligula eu-->
<!--                                    lectus-->
<!--                                    pellentesque, et sagittis ante bibendum. Sed eu ultrices lectus. Sed elementum-->
<!--                                    semper odio-->
<!--                                    ac hendrerit. </p><br>-->
<!--                                <p><strong>Details: </strong> <br>In dapibus odio eget metus pharetra pellentesque.-->
<!--                                    Fusce semper at ligula eget-->
<!--                                    suscipit. Sed ut porta est. Pellentesque tellus nisl, imperdiet sit amet nunc non,-->
<!--                                    rhoncus-->
<!--                                    consectetur arcu.-->
<!--                                <div class="form-group form-check">-->
<!--                                    <input type="checkbox" class="form-check-input" id="eventFour">-->
<!--                                    <label class="form-check-label" for="eventFour" style="color: darkred;"><strong-->
<!--                                            style="color: #04AA6D">-->
<!--                                        Sign me up for this event.</strong></label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->
<!--                <input type="submit" class="btn btn-primary " id="next" value="Submit"/>-->
            </div>
        </form>
    </main>
<include href="views/footer.html">
</html>