<include href="views/header.html">
    <body class="w-75 mx-auto">
    <h1>Edit Object</h1>
    <form class="main-block mt-3" action="#" method="post">
        <div class="form-group">
            <label for="objectid">Object ID</label>
            <input type="text" class="form-control" id="objectid" name="objectid">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>

    <form class="main-block mt-3" action="#" method="post">
        <div class="form-group">
            <label for="objectcoordinates">Object Coordinates</label>
            <input type="text" class="form-control" id="objectcoordinates" name="objectcoordinates">
        </div>


        <div class="form-group">
            <label for="objectname">Object Name</label>
            <input type="text" class="form-control" id="objectname" name="objectname">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
    <include href="views/footer.html">