<include href="views/header.html">
    <body class="w-75 mx-auto">
<h1 class="text-center">Astro Challenge</h1>
<h4 class="text-center text-secondary">A community for friendly, light hearted Astrophotography competition.</h4>
<p>
Register for an account, signup for upcoming events, capture your best image of the event
    Deep Space Object, and submit it for consideration. <br>
    Community members will vote on your event image submission then after the event has completed
    admins will tally all the votes then post the winners ranked by total number of community votes.
</p>
<div class="bg-light border rounded row mx-3 my-2">
    <!-- Left column -->
    <div id="calendar" class="col-12 col-sm-6">

    </div> <!-- End of left column -->

    <!-- Right column -->
    <div id="right" class="col-12 col-sm-6">
        <h2 class="text-center">Event Photos</h2>
        <div class="row text-center">
            <div class="col-6">
                <img src="images/eventimages/messier101.jpg" class="img-fluid img-thumbnail h-auto">
                <img src="images/eventimages/messier81.jpg" class="img-fluid img-thumbnail h-auto">
            </div>
            <div class="col-6">
                <img src="images/eventimages/messier42.jpg" class="img-fluid img-thumbnail h-auto">
                <img src="images/eventimages/messier13.jpg" class="img-fluid img-thumbnail h-auto">
            </div>
        </div>
    </div> <!-- End of right column -->
</div>

<!-- scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet' />

<script>

    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });

</script>
<include href="views/footer.html">