<include href="views/header.html">
<body class="w-75 mx-auto">

<div class="alert alert-light" role="alert">
    <h1>Register an account to participate in events!</h1>
</div>


<form class="main-block" action="#" method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="{{ @emails }}" >
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <check if="{{ isset(@errors['email']) }}">
        <span class="err" style="color: red;">{{ @errors['email'] }}</span>
    </check>
    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ @names }}">
    </div>

    <check if="{{ isset(@errors['name']) }}">
        <span class="err" style="color: red;">{{ @errors['name'] }}</span>
    </check>

    <div class="form-group">
        <label for="nickname">Nickname</label>
        <input type="text" class="form-control" id="nickname" name="nickname" value="{{ @nicknames }}">
    </div>

    <check if="{{ isset(@errors['nickname']) }}">
        <span class="err" style="color: red;">{{ @errors['nickname'] }}</span>
    </check>

    <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" value="{{ @states }}">
    </div>

    <check if="{{ isset(@errors['state']) }}">
        <span class="err" style="color: red;">{{ @errors['state'] }}</span>
    </check>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <check if="{{ isset(@errors['pass']) }}">
        <span class="err" style="color: red;">{{ @errors['pass'] }}</span>
    </check>
    <br>

    <div class="form-group">
        <label for="admin">Register Administrator account</label>
        <input type="checkbox" class="form-check-inline" id="admin" name="admin">
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
<include href="views/footer.html">